   <div class="container">
    <div class="mlk-center-panel">
        <div class="panel panel-default">
        <div class="panel-heading">Forget Password</div>
        <div class="panel-body">
            <form #myForm="ngForm"  (ngSubmit)="onSubmit()">
                <input  type="email" name="email" id="email" class="form-control" [(ngModel)]="email" placeholder="Email"  /><br/>            
                <button             name="submit"   id="submit"   class="btn btn-primary">Reset Password</button>
            </form>    
            <div>Back to <a  routerLink="/login">login page</a></div>
        </div>
        </div>
    </div>
</div>